.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  margin: 0;
}

.big {
  font-size: 4rem;
  font-family: 'Averta Bold', sans-serif;
  margin-bottom: 2rem;
}

.small {
  font-size: 1.2rem;
  text-align: center;
  width: 600px;
  font-family: 'Averta Light', sans-serif;
}

.bold {
  font-family: 'Averta Bold', sans-serif;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
